__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
/tests/mrts/generated/rules/*.conf
/tests/mrts/generated/ftw/*.yaml
/tests/mrts/generated/framework-cases/*.yaml
/tests/mrts/generated/mrts.load
